@font-face {
  font-family: MuseoSans;
  src: url(../font/MuseoSansCyrl-500.otf);
}

.typeword {
  font-family: MuseoSans;
}
.custom1 {
  width: 141px;
  height: 45px;
}
.container-fluid {
  box-shadow: 0 0 4px 2px rgb(0 0 0 / 14%);
}

.header {
  width: 960px;
  margin: 0 auto;
  height: 75px;
  padding: 16px 0;
}

.nav-item-text {
  padding-left: 20px;
  opacity: 0.6;
  font-size: 14px;
}

ul {
  height: 100%;
  align-items: center;
}

li {
  line-height: 100%;
  display: inline-block;
  position: relative;
  padding-left: 28px;
  margin-right: 8px;
}

.nav-item-number {
  background-color: #434343;
  border-radius: 50%;
  color: #fff;
  margin-right: 4px;
  width: 16px;
  height: 16px;
  float: left;
  text-align: center;
  opacity: 0.5;
}

.item-2,
.item-3,
.item-4 {
  position: relative;
}

.item-2::before,
.item-3::before,
.item-4::before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 2px;
  background: #434343;
  left: 0px;
  top: 50%;
  opacity: 0.2;
  border-top: 2px solid #434343;
}

.content {
  background-color: #e6eaed;
  overflow: hidden;
  padding-bottom: 200px;
}

.content-main {
  width: 960px;
  margin: 0 auto;
  background-color: #e6eaed;
}

.content-main-heading {
  padding-top: 40px;
  font-size: 24px;
  color: #434343;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.3px;
}

.content-main-heading-description {
  margin-bottom: 24px;
  color: #434343;
}

.forms-contact,
.contact-info {
  border-radius: 5px;
}

.forms-contact {
  width: 67%;
  margin-right: 3%;
  float: left;
}

.forms-contact-main-account {
  display: flex;
  background-color: #fff;
  padding: 12px 16px;
  background-position: 108% 50%;
  background-repeat: no-repeat;
}

.forms-contact-main-account-icon {
  background-color: #0194f3;
  text-align: center;
  padding: 8px;
  margin-top: 4px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-size: cover;
  background-position: 50%;
  margin-right: 16px;
}

.contact-info {
  background-color: white;
}

.contact-info-heading {
  margin-top: 40px;
  padding-bottom: 16px;
}

.contact-info-name-and-change,
.contact-info-phone-and-email {
  padding: 16px;
}

.contact-info-name {
  float: left;
  font-size: 16px;
}

.contact-info-change-button {
  float: right;
}

.contact-info-phone-and-email {
  display: flex;
}

.contact-info-phone {
  width: 33.3%;
  display: inline-block;
}

.contact-info-mail {
  width: 66.6%;
  display: inline-block;
}

.flight-detail-form {
  width: 30%;
  float: right;
  background-color: white;
}

.flight-detail-form-destination {
  display: flex;
  padding: 16px;
  align-items: center;
  justify-content: center;
}

.destination {
  font-size: 14px;
  line-height: 100%;
  margin: 0 0 0 12px;
}

.detail-button {
  margin-left: auto;
  padding-left: 8px;
  font-size: 14px;
  color: #0770cd;
  cursor: pointer;
  font-weight: 700;
}

.flight-detail-form-more-detail {
  padding: 16px 16px 0 16px;
}

.flight-date {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.flight-service {
  display: flex;
  margin: 12px 0;
}

.service-name-and-discount {
  flex: 1;
}

.name-of-airline {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}

.flight-time-start-end-consuming {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.payback-and-date-change {
  padding: 16px 12px;
}

.payback {
  display: flex;
  align-items: center;
  color: #8f8f8f;
}

.date-change {
  color: #00a651;
}

.luggage {
  margin-bottom: 16px;
}

.form-tien-ich {
  background-color: #fff;
  margin-bottom: 16px;
  flex-direction: column;
}

.flight-service-header,
.flight-luggage-service-body-flight,
.flight-luggage-service-body-customer {
  display: flex;
  align-items: center;
}

.choose-luggage-button {
  margin-left: auto;
}

.flight-service-body {
  display: flex;
  flex-direction: column;
  padding: 16px 16px 8px;
}

.flight-luggage-service-body-flight {
  margin-bottom: 8px;
}

.flight-service-header {
  padding: 12px 16px;
}

.flight-luggage-service-body-customer {
  padding-bottom: 8px;
  margin-top: 8px;
  margin-right: 16px;
}

.collapse-arrow .icon {
  transform: rotate(-180deg);
  transition: 0.3s transform ease-in-out;
  display: inline-block;
}

.collapse-arrow .collapsed .icon {
  transform: rotate(0deg);
}

.footer {
  background-color: #e6eaed;
  width: 100%;
  overflow: hidden;
}

.footer-button {
  float: right;
  display: block;
  background-color: #007ce8;
  position: fixed;
  top: 86%;
  left: 86%;
  padding: 12px 16px;
  border-radius: 50px;
  box-shadow: 0 4px 8px 0 rgb(27 27 27 / 20%), 0 16px 24px 0 rgb(27 27 27 / 20%);
}

.footer-button > a {
  color: white;
  text-decoration: none;
}

body {
  position: relative;
}
.bg-a {
  background-image: url("../anh/nen.png");
  /*height ="20vh";
	width ="50vh";*/
  background-size: cover;
}
