@font-face {
	font-family: MuseoSans;
	src: url(../font/MuseoSansCyrl-500.otf);
}

.typeword {
	font-family: MuseoSans;
}

.fondsize {
	font-size: 20px;
}

.fondcolor {
	background-color: #E6EAED;
}

@media (min-width: 768px) .col-md-3 {
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%;
}

.col-12 {
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}

*, ::after, ::before {
	box-sizing: border-box;
}

user agent stylesheet
div {
	display: block;
}

html, body, #vemaybay-app {
	font-family: "SF" !important;
}

body {
	margin: 0;
	font-family: sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background-color: #fff;
}

:root {
	--blue: #007bff;
	--indigo: #6610f2;
	--purple: #6f42c1;
	--pink: #e83e8c;
	--red: #dc3545;
	--orange: #fd7e14;
	--yellow: #ffc107;
	--green: #28a745;
	--teal: #20c997;
	--cyan: #17a2b8;
	--white: #fff;
	--gray: #6c757d;
	--gray-dark: #343a40;
	--primary: #007bff;
	--secondary: #6c757d;
	--success: #28a745;
	--info: #17a2b8;
	--warning: #ffc107;
	--danger: #dc3545;
	--light: #f8f9fa;
	--dark: #343a40;
	--breakpoint-xs: 0;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
	--font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	--font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

html {
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}

*, ::after, ::before {
	box-sizing: border-box;
}

*, ::after, ::before {
	box-sizing: border-box;
}

.m-0 {
	margin: 0 !important;
}

.mb-1, .my-1 {
	margin-bottom: .25rem !important;
}

.mt-2, .my-2 {
	margin-top: .5rem !important;
}

.mb-3, .my-3 {
	margin-bottom: 1rem !important;
}

.mb-4, .my-4 {
	margin-bottom: 1.5rem !important;
}

.news-hoz-line {
	background-color: #00264E;
	width: 75px;
	height: 2px;
}

.news-item .news-title {
	color: #00264E;
	font-size: 14px;
}

.news-title-item {
	font-size: 18px !important;
}

.text-justify {
	text-align: justify !important;
}

.line-range {
	display: block;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
}

.news-body-overview {
	font-size: 16px;
	color: #2A2326;
}

.hoz-line {
	background-color: #00264E;
	width: 172px;
	height: 4px;
}
